<link rel="stylesheet" href="/assets/css/styles_navpage.css">

<div class="gallery">
    {% capture d_tag %} {{include.data}} {% endcapture %}

    {% assign fileLoc = include.data %}
    {% for item in site.data[fileLoc] %}    
    <div class="box" style="--animation-order: {{item.number}};">
        <img class="thumbnail" src="{{site.baseurl}}{{item.image}}">
        <div class="text">
            <a href="{{ item.link }}"> {{ item.name }} </a>
        </div>
    </div>
    {% endfor %}

</div>