@import 'colors';

@keyframes dropFromTop {
    0% {
        transform: translateY(-30%);
        opacity: -1;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

h1 {
    color: $darkest_peach;
    width: 50%;
    margin-top: 90px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 50px;
}

div.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: auto;
    width: auto;
}

div.box {
    background-color: $lightest_peach;
    border-radius: 20px;
    margin: 90px;
    height: 300px;
    width: 300px;
    transition: .5s;
    box-shadow: $darker_peach 10px 10px;
}

div.box:hover {
    background-color: $darker_peach;
    height: 340px;
    width: 340px;
    box-shadow: $darkest_peach 14px 14px;
}

.left {
    animation-delay: 0ms;
}

.center {
    animation-delay: 100ms;
}

.right {
    animation-delay: 200ms;
}

.scroll-reveal {
    opacity: 0;
}

.active {
    animation-name: dropFromTop;
    animation-duration: 1s;
    animation-fill-mode: both;
    opacity: 1;
}

/* need to manually set height to make margins work */
div.box:hover img {
    transform: scale(1.05, 1);
    max-width: auto;
    height: 220px;
}

div.box:hover div.text {
    margin-top: 30px;
}

img.thumbnail {
    display: flex;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    max-width: 200px;
    height: 200px;
    transition: .5s;
}

div.text {
    width: auto;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    inline-size: 200px;
    font-size: 25px;
    transition: .5s;
}
