@import 'colors';

// Keyframes
@keyframes fadeInLeft {
    0% {
        transform: translateX(-30%);
    }

    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}

@keyframes fadeInRight {
    0% {
        transform: translateX(30%);
    }

    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}

@keyframes blurIn {
    0% {
        filter: blur(10px);
    }
    100% {
        opacity: 1;
        filter: blur(0px);
    }
}  

// Content
h1 {
    text-align: center;
    align-content: center;
    font-size: 60px;
    color: $darkest_peach;
}

h2 {
    text-align: center;
    align-content: center;
    font-size: 30px;
    color: $darkest_peach;
}

div.main_content {
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 50em;
}

.flex-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.flex-container-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.center {
    display: flex;
    justify-content: center;
}

// Animation
.scroll-reveal {
    opacity: 0
}

.fade-in-left {
    animation: fadeInLeft 1s ease-out 0s;
    animation-fill-mode: both;
}

.fade-in-right {
    animation: fadeInRight 1s ease-out 0s;
    animation-fill-mode: both;
}

.blur-in {
    animation: blurIn 1s;
    animation-fill-mode: both;
}